.pills-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .tab-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    user-select: none;
    padding: 1em 2em;

  }
  
  .tab-button {
    flex-shrink: 0;
    color: white;
    font-family: "DM Sans", serif;
    padding: 10px 20px;
    border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .tab-button.active {
    background-color: #f5be32;
    color: rgb(15, 15, 15);
    border: 1px solid rgb(3, 3, 3);

  } 
  
  .tab-button:hover {
    background-color:#F3D382 ;
    color: black;
  }
  

  

  @media (max-width: 768px) {
    .tab-list {
        display: flex;
        flex-wrap: wrap;
    }
  }

