.checkout {
  background: url("/images/checkoutBgImg.png");
  background-position: center;
  background-size: cover;

  /* height: 100vh; */

  /* display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; */
}

.checkout-content {
  margin-top: 175px;
}

.price-count {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.count {
  display: flex;
  gap: 20px;
}

.product-description {
  text-align: left;
}

.checkout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.size {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 200px;
  /* height: 100px; */
}

.size select {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;

  /* font-family: ; */
  font-size: 40px;
  /* font-color: #f5be32; */
  color: white;
  font-weight: 600;
  appearance: none;
}

.size option {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;

  /* font-family: ; */
  font-size: 20px;
  /* font-color: #f5be32; */
  color: black;
  font-weight: 500;
  appearance: none;
}

select:focus {
  outline: transparent !important;
  border: transparent !important;
  /* border-color: #FFCF0D !important; */
}

.form-select:focus {
  outline: transparent !important;
  border: transparent !important;
  /* border-color: #FFCF0D !important; */
  box-shadow: none !important;
}

select:active {
  outline: none !important;
  border: none !important;
}

select {
  -webkit-appearance: none !important; /* For Safari */
  -moz-appearance: none !important; /* For Firefox */
  appearance: none !important; /* Standard */
  background-image: none !important; /* Remove the default background */
}

/* select::after {
    border: none!important;
    font: normal normal normal 14px/1 FontAwesome;
    content: "/images/VectorDown.png"!important;
    vertical-align: 0;
  } */

.size-container {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.msg-input {
  width: 50%;
  border-radius: 10px;
  height: 60px;
  border: none;
  padding: 0.2em 0.3em;
}

.msg-input:focus {
  border: none;
  outline: none;
}

.whatsapp {
  /* background-color: #FFCF0D; */
  background-color: #25d366;
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;

  padding: 0.5em 1em;
  width: fit-content;

  cursor: pointer;
  user-select: none;
}

.pickup {
  display: flex;
  gap: 20px;
}
.pickup input {
  width: 20px;
}

.related-products {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.related-images {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

/* .item-and-name{
    display: flex;
    flex-direction: column;
    gap: 10px;;
} */

.delivery-available {
  display: flex;
  gap: 10px;
  align-items: center;
}

.non-veg-icon {
  display: flex;
  gap: 10px;
}

@media only screen and (max-width: 768px) {
  .checkout-slider {
    width: 400px;
  }

  .price-count {
    width: 100%;}
}

@media only screen and (max-width: 480px) {
  .checkout-slider {
    width: 380px;
  }
}


@media only screen and (max-width: 320px) {
  .checkout-slider {
    width: 320px;
  }
}