.dropdown-item {
  display: block !important;
  width: 90vw !important;
  background-color: #1e1e1e !important ;
}

.dropdown-menu {
  background-color: #1e1e1e !important  ;
  position: absolute;
}

.dropdown .btn{
  font-family: Cormorant SC;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.22px;
  color: white !important   ;}

