.event-card {
  display: flex;

}

.event-card:nth-child(even) {
  flex-direction: row-reverse;
}

/* .event-tab-card:nth-child(odd) {
  flex-direction: row-reverse;
} */

.event-cardImg {
  position: relative;
  width: 800px;
  /* width: 100%; */
  aspect-ratio: 16 / 9; 
  background-color: #f0f0f0;
  background-image: url('path/to/placeholder-image.jpg');
  background-size: cover;
  background-position: center;
}

.event-cardImg img {
  width: 100%;
  height: auto;
}

.event-card:nth-child(even) .event-cardImg::before {
  background: linear-gradient(-270.8deg, rgba(30, 30, 30, 0.5) 41.67%, #1e1e1e 95.22%) !important;  
}

.event-cardImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270.8deg, rgba(30, 30, 30, 0.5) 41.67%, #1e1e1e 95.22%);
  z-index: 1;
}

.event-card:nth-child(even) .event-tab-item-details  {
  right: calc(10%);
  transform: translateX(calc(-20%));
}

.event-tab-item-details {
  z-index: 2;
  display: flex;
  position: relative;
  align-items: center;
  left: calc(10%);
  height: 100%;
  transform: translateX(calc(20%));
}

.event-title {
  font-size: 3em !important;
}

.event-description {
  font-family: "DM Sans", serif;
  font-weight: 300;
  font-size: 0.9em;
  color: white;
}

@media only screen and (max-width: 768px) {
  .event-card {
    flex-direction: column;
    /* gap: px; */
    padding: 15px;
  }

 

  .event-cardImg {
    width: 80vw;
    aspect-ratio: auto;
    height: auto;
  }

  .event-cardImg::before {
    background: linear-gradient(180deg, rgba(30, 30, 30, 0.5) 41.67%, #1e1e1e 95.22%);
  }

  .event-tab-item-details {
    z-index: 2;
    display: flex;
    position: relative;
    align-items: center;
    bottom: 10%;
    left: 0;
    transform: translateX(0);
  }

  .event-card  {
   display: flex;
   flex-direction:column-reverse;
  }
}

