body {
  background: #1e1e1e !important;
}

#root {
  overflow: hidden;
}

.f-1 {
  font-size: 60px !important;
}

.f-55{
   font-size: 55px !important;
}

.f-2 {
  font-size: 40px !important;
}

.f-3 {
  font-size: 25px !important ;
}

.f-4 {
  font-size: 20px !important ;
}

.f-5{
  font-size: 16px !important ;

}

.ls-1 {
  letter-spacing: 0.3em !important;
}
.ls-2 {
  letter-spacing: 0.2em;
}

